extends ../layout
block content
	.row: .table-responsive
		table.table.table-striped.table-hover
			thead
				th Nom
				th Nom d'utlisateur
				th Rôle
				th Commandes
			tbody
				each user in users
					tr
						td= user.name
						td= user.username
						td= user.role
						td: .btn-group
							form(method='post', action='/users/#{user._id}')
								input(type='hidden', name='_method', value='delete')
								button.btn.btn-danger.btn-sm(type='submit')
									span.glyphicon.glyphicon-trash
								a.btn.btn-warning.btn-sm(href='/users/#{user._id}/edit')
									span.glyphicon.glyphicon-pencil
	.row
		a.btn.btn-lg.btn-primary.btn-block(href='/users/new') Nouvel utilisateur 
			span.glyphicon.glyphicon-plus-sign
