extends ../../layout
block content
	if lots.length !== 0
		style tbody tr { cursor: pointer }
		.row
			h1 Lots en stock de <em>#{plant}</em>
			.table-responsive: table.table.table-hover.table-striped
				thead
					th Date
					th Quantité (kg)
					th Reste (kg)
					th Montant (MAD)
					th Vendeur
					th Téléphone
				tbody
					each lot in lots
						tr(data-target='#modal', data-toggle='modal', data-bind="click: setLotId('#{lot._id}')")
							td(data-bind="localeDate: '#{lot.date}'")
							td= lot.quantity
							td= lot.remaining
							td= lot.price
							td= lot.seller.name
							td= lot.seller.tel
		include outsModal
	else
		.jumbotron
			h1 Pas de lots
			p Il n'y a pas de lots en stock pour la plante #{plant}
	a.btn-lg.btn.btn-block.btn-primary(href='/plants/#{id}/lots/new') Nouvelle arrivée 
		span.glyphicon.glyphicon-plus-sign
block bodyTail
	script(src='/javascripts/Knockout-Validation/Dist/knockout.validation.js')
	script(src='/javascripts/Knockout-Validation/Localization/fr-FR.js')
	script(src='/javascripts/lots.js')
