.modal.fade#modal(role='dialog', aria-labelledby='outsModal'): .modal-dialog
	.modal-content
		.modal-header
			button.close(type='button', data-dismiss='modal', aria-hdden='true') &times;
			h4.modal-title(data-bind='text: modalTitle')
		.modal-body
			#status(data-bind="visible: !loading") Chargement des données depuis le serveur...
			.table-responsive#trOuts: table.table-striped.table-hover.table
				thead
					th Date
					th Quantité brute
					th Quantité nette
				tbody(data-bind="foreach: outs")
					tr(data-bind="attr: {id: _id}, click: $parent.toggleFinal")
						td(data-bind="localeDate: date")
						td(data-bind="text: raw")
						td(data-bind="text: net")
			#newOut
				form.from-horizontal(role='form', method='post')
					fieldset
						.form-group
							label.control-label(for='date') Date
							input#date.form-control.input-lg(
								type='date', name='date', data-bind='today'
							)
						.form-group(data-bind="css: {'has-error': !raw.isValid()}")
							label.control-label(for='raw') Quantité brute
							input#raw.form-control.input-lg(
								data-bind="value: raw",
								type='number', name='raw')
						.form-group(data-bind="css: {'has-error': !net.isValid()}")
							label.control-label(for='net') Quantité nette
							input#net.form-control.input-lg(
								data-bind='value: net', type='number', name='net'
							)
						button.btn.btn-primary.btn-block.btn-lg(
							type='button', 
							data-bind='click: addOut, disable: !validables.isValid()'
						) Ajouter 
							span.glyphicon.glyphicon-plus-sign
		.modal-footer
			button.btn.btn-default(data-dismiss='modal', type='button') Fermer
			button.btn.btn-primary(
				data-bind='disable: adding, click: newOut', type='button'
			) Nouvelle sortie
